$serif: 'Scope One', serif;
$logo: 'Pacifico', cursive;
$sans-serif: 'Quicksand', sans-serif;
$light-purple: #e6e6fa;
$hover-purple: #cfcfe1;
$bright-red: #ff4040;
$red-highlight: #ff8181;
$almost-white: #F4F4F4;

.entries-div {
	padding-top: 10px;
	background-color: $almost-white;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.new-entry-form {
	display: inline-block;
	margin-left: 10px;
}

.select-from {
	display: inline-block;
	font-family: $sans-serif;
	padding-right: 10px;
	margin: 0;
}

.new-entry-btn, .mood-menu {
	background-color: rgba(207, 207, 225, .5);
	padding: 8px 8px 8px 8px;
	border: 1px solid $hover-purple;
	font-family: $sans-serif;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
}

.new-entry-btn:hover, .mood-menu:hover {
	background-color: $hover-purple;
	padding: 8px 8px 8px 8px;
	border: 1px solid $hover-purple;
}

.entries-container {
	background-color: $almost-white;

	display: flex;
	flex-direction: column;
	padding-top: 1%;
	padding-bottom: 1%;
}
