$serif: 'Scope One', serif;
$logo: 'Pacifico', cursive;
$sans-serif: 'Quicksand', sans-serif;
$light-purple: #e6e6fa;
$hover-purple: #cfcfe1;
$bright-red: #ff4040;
$red-highlight: #ff8181;
$almost-white: #F4F4F4;

.entries-div {
	padding-top: 10px;
	background-color: $almost-white;
}

.new-entry {
	margin-top: 3%;
}

.new-entry-form {
	display: inline-block;
	margin-right: 4%;
}

.new-entry-btn {
	background-color: rgba(207, 207, 225, .5);
	font-family: 'Quicksand', sans-serif;
	padding: 8px 8px 8px 8px;
	border: 1px solid $hover-purple;
}

.new-entry-btn:hover {
	background-color: $hover-purple;
	padding: 8px 8px 8px 8px;
	border: 1px solid $hover-purple;
}

.filter-btn, .mood-menu {
	background-color: $almost-white;
	font-family: 'Quicksand', sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0% 0% 0% 2%;
}

.filter-btn {
	padding: 9px 9px 9px 9px;
	margin: 0% 0% 0% 0%;
}
