svg {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.date {
  margin: 0px;
}

.edit-dropdown {
  display: inline-block;
  margin-top: -63px;
  height: 0px;
}

.date-and-mood {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.edit-dropdown-container {
  display: flex;
  justify-content: flex-end;
  height: 55px;
  .fa-pencil-square {
    margin-right: 10px;
  }
}

.edit-dropdown-menu {
  position: relative;
  top: 54px;
  left: 54px;
  p {
    background: white;
    margin: 0px;
    padding: 5px 10px 5px 10px;
  }
  p:nth-child(1) {
    box-shadow: 2px 2px 2px #5C5C5C;
  }
  p:nth-child(2) {
    box-shadow: 2px 2px 2px #5C5C5C;
  }
}

.user-entry {
  box-shadow: 2px 2px 8px #5C5C5C;
}

.ambivalent {
  background-color: #9DBEDE;
}

#ambivalent {
  color: #738BA2;
  &:hover {
    filter: brightness(85%);
  }
}

.awkward {
  background-color: #BBDA73;
}

#awkward {
  color: #9AB35F;
  &:hover {
    filter: brightness(85%);
  }
}

.bored {
  background-color: #BFD7D4;
}

#bored {
  color: #9DB0AE;
  &:hover {
    filter: brightness(85%);
  }
}

.excited {
  background-color: #FFB586;
}

#excited {
  color: #D1956E;
  &:hover {
    filter: brightness(85%);
  }
}

.happy {
  background-color: #FFF6A7;
}

#happy {
  color: #D1CA89;
  &:hover {
    filter: brightness(85%);
  }
}

.sad {
  background-color: #F0DBE7;
}

#sad {
  color: #AFA0A9;
  &:hover {
    filter: brightness(85%);
  }
}

.depressed {
  background-color: #C0ACD2;
}

#depressed {
  color: #8F73A9;
  &:hover {
    filter: brightness(85%);
  }
}
