.entries-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.user-entry,
.header-bar {
  width: 100%;
  padding: 20px;
}

@media only screen and (min-width: 800px) {
  .user-entry {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .user-entry {
    width: 33.33333%;
  }

  .entries-page-menus {
    width: 90%;
    padding: 20px;
  }
}
