$moodoo: "Pacifico", serif;

.moodoo {
  font-family: $moodoo;
  font-size: 60px;
  margin: 0px 0px 20px 0px;
}

.header-bar .fa {
  padding: 5px 10px 5px 5px;
}

.mood-dropdown .display-text {
  position: absolute;
  top: 107px;
  left: 110px;
}

.mood-dropdown-default {
  display: inline-block;
  p {
    position: absolute;
    top: 107px;
    left: 110px;
  }
  .fa-filter {
    padding: 2px 2px 1px 2px;
  }
}

.mood-dropdown-menu {
  position: absolute;
  top: 115px;
  left: 110px;
  background: #ece898;
  padding: 0px 10px 10px 10px;
}

.create-new-entry{
  .fa-plus-square {
    vertical-align: middle;
  }
  p {
    position: absolute;
    top: 154px;
    left: 110px;
  }
}
