$logo: 'Pacifico', cursive;
$light-purple: #e6e6fa;
$hover-purple: #cfcfe1;
$bright-red: #ff4040;
$red-highlight: #ff8181;
$almost-white: #F4F4F4;

.header-bar {
	background-color: $light-purple;
	padding-left: 30px;
}

.moodoo {
	color: #ff4040;
	max-width: 116px;

	font-family: 'Pacifico', cursive;
	font-size: 2em;

	display: block;
	padding: 2% 2% 2% 2%;
	margin: 0% 0% 0% 0%;

	cursor: pointer;
}
