@import 'reset';
@import 'welcome';
@import 'header';
@import 'entry_colors';

// $serif: 'Karma', serif;
$logo: 'Pacifico', cursive;
$sans-serif: 'Quicksand', sans-serif;
$light-purple: #e6e6fa;
$hover-purple: #cfcfe1;
$bright-red: #ff4040;
$red-highlight: #ff8181;

body {
	background-color: #e6e6fa;
}

.entries-div.user-entry {
	background-color: #e6e6fa;
}

.text, .edit-menu {
	display: block;
	margin: 1% 1% 1% 1%;
}

.mood {
	margin: 1% 0% 1% 1%;
}

.entries-container {
	background-color: #e6e6fa;

	display: flex;
	flex-direction: column;
	padding-top: 1%;
	padding-bottom: 1%;
}

.user-entry {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.user-entry, .new-entry {
	display: block;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 75%;
	max-width: 900px;
	height: auto;
}

.new-entry {
	margin-top: 3%;
}

.new-entry-btn {
	background-color: rgba(207, 207, 225, .5);;
	font-family: 'Quicksand', sans-serif;
	padding: 8px 8px 8px 8px;
	border: 1px solid $hover-purple;
}

.new-entry-btn:hover {
	background-color: $hover-purple;
	padding: 8px 8px 8px 8px;
	border: 1px solid $hover-purple;
}

.mood, .text, .date, .user-entry, .edit-menu {
	padding: 1% 1% 1% 1%;
}

.moodAndDate {
	font-family: $sans-serif;
}

//////////////////////////

// .new-entry-form {
// 	display: block;
// 	margin-left: 13.3%;
// }

.entry-form {
	background-color: orange;

	display: flex;
}

.textarea, .submit-entry, .cancel-btn {
	background-color: pink;
}

.router-link {
	text-decoration: none;
}

.text {
	font-family: 'Karma', serif;
}




















//
