@import 'reset';
@import 'welcome';
@import 'header';
@import 'entry_colors';
@import 'entry';
@import 'entries_display';

$serif: 'Scope One', serif;
$logo: 'Pacifico', cursive;
$sans-serif: 'Quicksand', sans-serif;
$light-purple: #e6e6fa;
$hover-purple: #cfcfe1;
$bright-red: #ff4040;
$red-highlight: #ff8181;
$almost-white: #F4F4F4;

button {
	font-color: black;
}

button:visited {
	font-color: black;
}

.router-link {
	text-decoration: none;
}

.text {
	font-family: $serif;
	line-height: 160%;
}

//////////////////////////

body {
	background-color: $light-purple;
}

.mood, .text, .date, .user-entry, .edit-menu {
	padding: 1% 1% 1% 1%;
}

.entries-div.user-entry {
	background-color: #e6e6fa;
}

.text, .edit-menu {
	display: block;
	margin: 1% 1% 1% 1%;
}

.mood {
	margin: 1% 0% 1% 1%;
}
